NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/clothing-exchange
JWT_SECRET=super_secret_jwt_key_here
CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
